/* * {
  box-sizing: border-box;
} */

ul {
  margin: auto;
}

section {
  /* display: inline; */
  float: left;
  width: 24%;
  border: black solid thin;
  height: 300px;
}

img {
  max-width: 33%;
  margin: auto;
  display: block;
}

#photo-template {
  display: none;
}

h2 {
  font-family: 'Reggae One', cursive;
}

footer {
  /* display: inline-block; */
  clear: left;
}